/*****common********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*****common********/
img {
    display: inline;
    max-width: 100%;
    height: auto;
}


.site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*****common********/
.header {
    width: 1000px;
    height: 720px;
    margin: 0 auto;
}

.header_container_flex {
    display: flex;
    flex-direction: column;
    background-color:#913d88;
}

.header_container_menu {
    height: 40px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    
}

.header_container_menu ul {
    list-style-type: none;

}

.header_container_menu ul li {
    display: inline;
}

.header_container_menu ul li a {
    color: #3b3b3b;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}


.header_container_menu ul li a:hover {
    color: #913d88;
}




.header_container_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_logo_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}









.header_container_baner_girl {
    height: 527px;
    background: url("../img/LayerGirl.png") center center/cover no-repeat;
}

.container_content_container_flex {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.content_container {
    display: flex;
    justify-content: center;
    flex-direction: row;

}


